# Python
__pycache__/
*.egg-info
/dist

# pdm
/.pdm-plugins
/.pdm-python
/.venv
/pdm.lock

# metadata schemas
/schema

# coverage
/.coverage
/htmlcov
/coverage.xml

# tests
/tests/spec_*/
*.vcd
*.gtkw

# misc user-created
/*.il
/*.v
/build
