/* Links in text should be underlined. */
a { text-decoration: underline; }
.wy-menu-vertical a, .wy-side-nav-search > a { text-decoration: none; }

/* Match the logo colors in the background. */
.wy-nav-top, .wy-side-nav-search { background-color: #784b9a; }

/* Make the logo more reasonably sized. */
.wy-side-nav-search > a img.logo { width: 160px; }

/* Some of our section titles are looong */
@media screen and (min-width:769px) {
  .wy-nav-side, .wy-side-scroll, .wy-menu-vertical { width: 340px; }
  .wy-side-nav-search { width: 340px; margin-bottom: .0em; }
  .wy-nav-content-wrap { margin-left: 340px; }
}

/* We don't have a version picker widget */
.wy-nav-side { padding-bottom: 0; }

/* Many of our diagnostics are even longer */
.rst-content pre.literal-block, .rst-content div[class^="highlight"] pre, .rst-content .linenodiv pre { white-space: pre-wrap; }

/* Work around https://github.com/readthedocs/sphinx_rtd_theme/issues/1301 */
.py.property { display: block !important; }

/* Avoid excessively tiny font in the sidebar */
.wy-menu-vertical li.toctree-l2, .wy-menu-vertical li.toctree-l3, .wy-menu-vertical li.toctree-l4 { font-size: 0.97em; }
/* For some cursed reason the RTD theme was decreasing the font size twice! */
.wy-menu-vertical a { font-size: 100%; }

/* Work around images in docstrings being glued to the paragraph underneath */
.rst-content section dd>img { margin-bottom: 24px; }

/* No switchable color schemes */
img { color-scheme: light; }
