on:
  push:
  pull_request:
  merge_group:

name: CI
jobs:

  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version:
        - '3.9'
        - '3.10'
        - '3.11'
        - '3.12'
        - '3.13'
        - '3.14'
        - 'pypy-3.9'
        - 'pypy-3.10'
        - 'pypy-3.11'
        allow-failure:
        - false
        include:
        - python-version: '3.15-dev'
          allow-failure: true
    continue-on-error: ${{ matrix.allow-failure }}
    name: 'test (${{ matrix.python-version }})'
    steps:
    - name: Check out source code
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: Set up PDM
      uses: pdm-project/setup-pdm@v4
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        sudo apt-key adv --keyserver hkp://keyserver.ubuntu.com:80 --recv-keys FA8E1301F4D3932C
        sudo add-apt-repository 'deb http://ppa.launchpad.net/sri-csl/formal-methods/ubuntu bionic main'
        sudo apt-get update
        sudo apt-get install yices2
        pdm install --dev
    - name: Cache YoWASP build products
      uses: actions/cache@v4
      with:
        path: ~/.cache/YoWASP
        key: YoWASP-${{ runner.os }}-${{ hashFiles('./.venv/**/*.wasm') }}
        restore-keys: |
          YoWASP-${{ runner.os }}-
    - name: Run tests
      run: |
        pdm run test
    - name: Submit code coverage
      uses: codecov/codecov-action@v5

  smoketest: # If we plug this into downstream projects, does magic smoke escape?
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        project:
          - amaranth-lang/amaranth-boards
          - amaranth-lang/amaranth-stdio
          - amaranth-lang/amaranth-soc
    name: 'smoke (${{ matrix.project }})'
    steps:
    - name: Check out Amaranth source code
      uses: actions/checkout@v4
      with:
        path: amaranth
        fetch-depth: 0
    - name: Check out source code
      uses: actions/checkout@v4
      with:
        repository: ${{ matrix.project }}
        path: project
        fetch-depth: 0
    - name: Set up PDM
      uses: pdm-project/setup-pdm@v4
    - name: Install dependencies
      working-directory: project
      run: |
        pdm install --dev
    - name: Use Amaranth HEAD revision
      working-directory: project
      run: |
        pdm add ../amaranth
    - name: Cache YoWASP build products
      uses: actions/cache@v4
      with:
        path: ~/.cache/YoWASP
        key: YoWASP-${{ runner.os }}-${{ hashFiles('./.venv/**/*.wasm') }}
        restore-keys: |
          YoWASP-${{ runner.os }}-
    - name: Run tests
      working-directory: project
      run: |
        pdm run test

  document:
    runs-on: ubuntu-latest
    steps:
      - name: Check out source code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Fetch tags from upstream repository
        run: |
          git fetch --tags https://github.com/amaranth-lang/amaranth.git
      - name: Set up PDM
        uses: pdm-project/setup-pdm@v4
        with:
          python-version: '3.12'
      - name: Install dependencies
        run: |
          pdm install --dev
      - name: Build documentation
        run: |
          pdm run document
      - name: Upload documentation archive
        uses: actions/upload-artifact@v4
        with:
          name: docs
          path: docs/_build
      - name: Extract schemas
        run: |
          pdm run extract-schemas
      - name: Upload schema archive
        uses: actions/upload-artifact@v4
        with:
          name: schema
          path: schema

  check-links:
    runs-on: ubuntu-latest
    steps:
      - name: Check out source code
        uses: actions/checkout@v4
        with:
            fetch-depth: 0
      - name: Set up PDM
        uses: pdm-project/setup-pdm@v4
        with:
          python-version: '3.12'
      - name: Install dependencies
        run: |
          pdm install --dev
      - name: Check links in documentation
        run: |
          pdm run document-linkcheck

  required: # group all required workflows into one to avoid reconfiguring this in Actions settings
    needs:
      - test
      - document
    if: ${{ always() && !contains(needs.*.result, 'cancelled') }}
    runs-on: ubuntu-latest
    steps:
      - run: ${{ contains(needs.*.result, 'failure') && 'false' || 'true' }}

  publish-docs:
    needs: document
    if: ${{ github.repository == 'amaranth-lang/amaranth' }}
    runs-on: ubuntu-latest
    steps:
      - name: Check out source code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Download documentation archive
        uses: actions/download-artifact@v4
        with:
          name: docs
          path: docs/
      - name: Publish development documentation
        if: ${{ github.event_name == 'push' && github.event.ref == 'refs/heads/main' }}
        uses: JamesIves/github-pages-deploy-action@releases/v4
        with:
          repository-name: amaranth-lang/amaranth-lang.github.io
          ssh-key: ${{ secrets.PAGES_DEPLOY_KEY }}
          branch: main
          folder: docs/
          target-folder: docs/amaranth/latest/
      - name: Publish release documentation
        if: ${{ github.event_name == 'push' && startsWith(github.event.ref, 'refs/tags/v') && !contains(github.event.ref, 'dev') }}
        uses: JamesIves/github-pages-deploy-action@releases/v4
        with:
          repository-name: amaranth-lang/amaranth-lang.github.io
          ssh-key: ${{ secrets.PAGES_DEPLOY_KEY }}
          branch: main
          folder: docs/
          target-folder: docs/amaranth/${{ github.ref_name }}/
      - name: Generate list of versions
        if: ${{ github.event_name == 'push' && (github.event.ref == 'refs/heads/main' || startsWith(github.event.ref, 'refs/tags/v') && !contains(github.event.ref, 'dev')) }}
        run: |
          git clone --depth=1 git@github.com:amaranth-lang/amaranth-lang.github.io.git ~/amaranth-lang.github.io
          cd ~/amaranth-lang.github.io/docs/amaranth/

          venv_path=~/.generate-versions-json-venv
          python3 -m venv "$venv_path"
          source "$venv_path"/bin/activate
          pip install packaging

          python <<EOF
          import re
          import json
          from pathlib import Path
          from packaging.version import Version

          versions = []
          for version_dir in [Path("latest"), *Path(".").glob("v*")]:
            if not version_dir.is_dir():
              continue
            with open(version_dir / "_static" / "documentation_options.js", "r") as f:
              doc_options = f.read()
            match = re.search(r"""VERSION:\s+(['"])(.+?)\1""", doc_options)
            if match is None:
              continue
            versions.append({
              "name": match.group(2),
              "root_url": f"/docs/amaranth/{version_dir.name}/",
            })

          versions.sort(key=lambda x: Version(x["name"]), reverse=True)

          if len(versions) > 0:
            with open("versions.json", "w") as f:
              json.dump(versions, f, indent=2)
          else:
            Path("versions.json").unlink()
          EOF

          [[ -f versions.json ]] && git add versions.json || git rm versions.json || true
          if ! git diff-index --quiet --cached HEAD; then
            git \
              -c user.name="$GITHUB_ACTOR" \
              -c user.email="$GITHUB_ACTOR@users.noreply.github.com" \
              commit -m "Update docs/amaranth/versions.json"
            git push
          fi

  publish-docs-dev:
    needs: document
    if: ${{ github.repository != 'amaranth-lang/amaranth' }}
    runs-on: ubuntu-latest
    steps:
      - name: Check out source code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Download documentation archive
        uses: actions/download-artifact@v4
        with:
          name: docs
          path: pages/docs/${{ github.ref_name }}/
      - name: Disable Jekyll
        run: |
          touch pages/.nojekyll
      - name: Publish documentation for a branch
        uses: JamesIves/github-pages-deploy-action@releases/v4
        with:
          folder: pages/
          clean: false

  publish-schemas:
    needs: [required, publish-docs] # avoid race condition with publish-docs
    if: ${{ github.repository == 'amaranth-lang/amaranth' }}
    runs-on: ubuntu-latest
    steps:
      - name: Check out source code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Download schema archive
        uses: actions/download-artifact@v4
        with:
          name: schema
          path: schema/
      - name: Publish schemas
        if: ${{ github.event_name == 'push' && github.event.ref == 'refs/heads/main' }}
        uses: JamesIves/github-pages-deploy-action@releases/v4
        with:
          repository-name: amaranth-lang/amaranth-lang.github.io
          ssh-key: ${{ secrets.PAGES_DEPLOY_KEY }}
          branch: main
          folder: schema/
          target-folder: schema/amaranth/

  publish-package:
    needs: required
    runs-on: ubuntu-latest
    environment: publish
    permissions:
      id-token: write
    steps:
    - name: Check out source code
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: Build package
      run: |
        pip install build
        python -m build
    - name: Upload package artifact
      uses: actions/upload-artifact@v4
      with:
        name: package
        path: dist/
    - name: Verify package metadata
      run: |
        pip install twine
        twine check dist/*
    - name: Publish package to Test PyPI
      if: ${{ github.repository == 'amaranth-lang/amaranth' && github.event_name == 'push' && github.event.ref == 'refs/heads/main' }}
      uses: pypa/gh-action-pypi-publish@release/v1
      with:
        repository-url: https://test.pypi.org/legacy/
    - name: Publish package to PyPI
      if: ${{ github.repository == 'amaranth-lang/amaranth' && github.event_name == 'push' && startsWith(github.event.ref, 'refs/tags/v') && !contains(github.event.ref, 'dev') }}
      uses: pypa/gh-action-pypi-publish@release/v1

  publish-release:
    needs: publish-package
    if: ${{ github.repository == 'amaranth-lang/amaranth' && github.event_name == 'push' && startsWith(github.event.ref, 'refs/tags/v') && !contains(github.event.ref, 'dev') }}
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
    - name: Determine release metadata
      id: metadata
      env:
        REF_NAME: ${{ github.ref_name }}
      run: |
        echo name=${REF_NAME/v/} >>$GITHUB_OUTPUT
    - name: Create release
      uses: comnoco/create-release-action@v2
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: ${{ github.ref_name }}
        release_name: ${{ steps.metadata.outputs.name }}
